beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
fonttools==4.50.0
idna==3.6
joblib==1.3.2
kiwisolver==1.4.5
kneed==0.8.5
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==10.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-steam-api==1.2.2
pytz==2024.1
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.12.0
six==1.16.0
soupsieve==2.5
steamspypi==1.1.1
style==1.1.0
threadpoolctl==3.3.0
tqdm==4.66.2
tzdata==2024.1
update==0.0.1
urllib3==2.2.1
